<div data-id='{{cartId}}' id='cart'>
  <h1>Cart {{cartId}}</h1>
  <div id='products' class='product-grid'></div>
</div>
<form id='purchaseForm' action='/api/tickets/{{cartId}}/purchase' method='POST'>
  <button type='submit'>Purchase Ticket</button>
</form>
<script src='/js/cart.js'></script>