<div class='flex flex-col items-center mt-4'>
  <div class='w-9/12 bg-zinc-200 p-4 rounded-lg shadow-md'>
    <div class='grid grid-cols-2 md:grid-cols-6 gap-4 mb-4'>
      <div>
        <label
          for='limit'
          class='block text-sm font-semibold text-gray-700'
        >Limit:</label>
        <select
          id='limit'
          name='limit'
          class='w-full rounded-md bg-white border border-gray-300 p-2'
        >
          <option value='9'>9</option>
          <option value='15'>15</option>
          <option value='30'>30</option>
          <option value='60'>60</option>
        </select>
      </div>

      <div>
        <label
          for='page'
          class='block text-sm font-semibold text-gray-700'
        >Page:</label>
        <input
          class='w-full rounded-md bg-white border border-gray-300 p-2'
          type='number'
          value='1'
          id='page'
          name='page'
          min='1'
        />
      </div>

      <div>
        <label
          for='sort'
          class='block text-sm font-semibold text-gray-700'
        >Sort:</label>
        <select
          id='sort'
          name='sort'
          class='w-full rounded-md bg-white border border-gray-300 p-2'
        >
          <option value='asc'>Ascending</option>
          <option value='desc'>Descending</option>
        </select>
      </div>
    </div>

    <div id='products' class='grid grid-cols-1 md:grid-cols-3 gap-4'>
      <!-- Product items will be here -->
    </div>

  </div>
</div>
<script src='/js/store.js'></script>