<div class='flex bg-red-400 place-content-center self-center relative top-16'>
  <form
    action='/auth/login'
    method='POST'
    class='bg-white border-4 border-gray-200 shadow-lg rounded-lg p-6 w-full max-w-md'
  >
    <div class='space-y-4'>

      {{#if errorMessage}}
        <label
          class='text-red-600 block mb-4 text-center'
        >{{errorMessage}}</label>
      {{/if}}

      <div>
        <label
          for='email'
          class='block font-semibold text-gray-700'
        >Email:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='text'
          name='email'
          id='email'
          placeholder='Enter your email'
          required
        />
      </div>

      <div>
        <label
          for='password'
          class='block font-semibold text-gray-700'
        >Password:</label>
        <input
          class='w-full rounded-md bg-slate-100 border-2 border-slate-300 p-2'
          type='password'
          name='password'
          id='password'
          placeholder='Enter your password'
          required
        />
      </div>

      <button
        type='submit'
        class='w-full bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md mt-4'
      >Log in</button>

      <p class='text-center mt-4'>
        <a href='/signup' class='text-blue-600 hover:underline'>Don't have an
          account? Sign up</a>
      </p>

      <p class='text-center'>
        <a href='/password-recover' class='text-blue-600 hover:underline'>Forgot
          your password?</a>
      </p>

      <p class='text-center'>
        <a
          href='/auth/github/callback'
          class='text-blue-600 hover:underline'
        >GitHub Signup</a>
      </p>
    </div>
  </form>
</div>