<input type="hidden" id="email" name="email" value="{{userEmail}}" />
<div class='flex flex-col relative top-2 place-self-center place-content-center'>
  <div class="flex flex-1 place-content-center"><h1 class=" w-fit">All Users</h1></div>
  <div class='flex flex-col items-center mt-4'>
  <div class='w-9/12 bg-zinc-200 p-4 rounded-lg shadow-md'>
    

    <div id='users' class='grid grid-cols-1 md:grid-cols-3 gap-4'>
      <!-- Product items will be here -->
    </div>

  </div>
</div>
  </div>
</div>

</div>


<script src="/js/manageUsers.js"></script>