<div class='flex place-content-center relative top-8'>
  <form>
    <div
      class='flex-1 flex flex-col rounded-md shadow-sm bg-slate-200 space-y-2'
    >
      <div>
        <label for='email'>Email:</label>
        <input
          type='email'
          id='email'
          name='email'
          class='rounded-sm bg-slate-100 border-2 border-slate-300'
          required
        />
      </div>

      <button
        class='flex-1 relative self-center bg-blue-400 rounded-md hover:bg-blue-600'
        id='send-button'
      >Send recovery email</button>
    </div>
  </form>
  <div id='resultContainer'></div>
</div>

<script src='/js/recover.js'></script>