<div id='cartID' data-id='{{cartId}}'></div>
<div id='productPage' data-id='{{pid}}'>
  <dir>
    <img id='productThumbnail' alt='Product thumnail' />
    <h1 id='productTitle'></h1>
    <p id='productDescription'></p>
    <div>
      <input id='quantity' type='number' min='1' value='1' />
      <button id='addToCart'>Add to Cart</button>

    </div>

  </dir>

</div>
<script src='/js/productPage.js'></script>