<div id='cartID' data-id='{{cartId}}'></div>
<div id='productPage' data-id='{{pid}}'>
  <dir>
    <img id='productThumbnail' alt='Product thumnail' />
    <h1 id='productTitle'></h1>
    <p id='productDescription'></p>
    <div>
      <label for='productPrice'>Price: $</label><p id='productPrice'></p>
    </div>

    <div>
      <label for='quantity'>Quantity: </label>
      <p id='productStock'></p>
    </div>
    <div>
      <input id='quantity' type='number' min='1' placeholder='1' />
      <button id='addToCart'>Add to Cart</button>

    </div>

  </dir>

</div>
<script src='/js/productPage.js'></script>