<div id="forms-container" class="flex justify-center mt-8">
  <div id="add-product-form" class="w-full max-w-lg">
    <h2 class="text-2xl font-bold mb-6">Add a Product</h2>
    <form action="/api/products/product" method="post" id="productForm" enctype="multipart/form-data" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
        <input type="text" id="title" name="title" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="mb-4">
        <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
        <input type="text" id="description" name="description" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="mb-4">
        <label for="barcode" class="block text-gray-700 text-sm font-bold mb-2">Barcode:</label>
        <input type="text" id="barcode" name="barcode" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="mb-4">
        <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Price:</label>
        <input type="number" id="price" name="price" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
     <div class="mb-4">
        <label for="status" class="block text-gray-700 text-sm font-bold mb-2">Status:</label>
        <select id="status" name="status" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option value="Visible">Visible</option>
          <option value="HIdden">Hidden</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="stock" class="block text-gray-700 text-sm font-bold mb-2">Stock:</label>
        <input type="number" id="stock" name="stock" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="mb-4">
        <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Category:</label>
         <input type="text" id="category" name="category" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
       <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Thumbnail:</label>
    <div class="flex items-center mb-2">
      <input type="radio" id="thumbnailTypeURL" name="thumbnailType" value="URL" checked class="mr-2" />
      <label for="thumbnailTypeURL" class="mr-4 text-gray-700 text-sm">URL</label>
      <input type="radio" id="thumbnailTypeFile" name="thumbnailType" value="File" class="mr-2" />
      <label for="thumbnailTypeFile" class="text-gray-700 text-sm">File Upload</label>
    </div>
    <input type="text" id="thumbnailURL" name="thumbnailURL" placeholder="Enter image URL" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2" />
    <input type="file" id="thumbnailFile" name="thumbnailFile" accept="image/*" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hidden" />
  </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Product</button>
      </div>
    </form>
  </div>
</div>


<input type="hidden" id="email" name="email" value="{{userEmail}}" />
<div class='flex flex-col relative top-2 place-self-center place-content-center'>
  <div class="flex flex-1 place-content-center"><h1 class=" w-fit">Your products list</h1></div>
  <div class='flex flex-col items-center mt-4'>
  <div class='w-9/12 bg-zinc-200 p-4 rounded-lg shadow-md'>
    <div class='grid grid-cols-2 md:grid-cols-6 gap-4 mb-4'>
      <div>
        <label
          for='limit'
          class='block text-sm font-semibold text-gray-700'
        >Limit:</label>
        <select
          id='limit'
          name='limit'
          class='w-full rounded-md bg-white border border-gray-300 p-2'
        >
          <option value='9'>9</option>
          <option value='15'>15</option>
          <option value='30'>30</option>
          <option value='60'>60</option>
        </select>
      </div>

      <div>
        <label
          for='page'
          class='block text-sm font-semibold text-gray-700'
        >Page:</label>
        <input
          class='w-full rounded-md bg-white border border-gray-300 p-2'
          type='number'
          value='1'
          id='page'
          name='page'
          min='1'
        />
      </div>

      <div>
        <label
          for='sort'
          class='block text-sm font-semibold text-gray-700'
        >Sort:</label>
        <select
          id='sort'
          name='sort'
          class='w-full rounded-md bg-white border border-gray-300 p-2'
        >
          <option value='asc'>Ascending</option>
          <option value='desc'>Descending</option>
        </select>
      </div>
    </div>

    <div id='products' class='grid grid-cols-1 md:grid-cols-3 gap-4'>
      <!-- Product items will be here -->
    </div>

  </div>
</div>
  </div>
</div>

</div>


<script src="/js/index.js"></script>