<div class='flex place-content-center relative top-8'>

  <form
    id='reset-password-form'
    action='/api/users/reset-password/{{email}}/{{token}}'
    method='POST'
  >
    <div
      class='flex-1 flex flex-col rounded-md shadow-sm bg-slate-200 space-y-2'
    >
      <h1 class='flex-1 self-center'>Reset Password</h1>
      <div class='flex-1 self-end'>
        <label for='new-password'>New Password:</label>
        <input
          type='password'
          id='new-password'
          name='password'
          class='rounded-sm bg-slate-100 border-2 border-slate-300'
          required
        />
      </div>
      <div class='flex-1 self-end'>
        <label for='confirm-password'>Confirm Password:</label>
        <input
          class='input rounded-sm bg-slate-100 border-2 border-slate-300'
          type='password'
          id='confirm-password'
          name='confirm-password'
          required
        />
      </div>
      <button
        class='flex-1 relative self-center bg-blue-400 rounded-md hover:bg-blue-600'
        type='submit'
      >Reset Password</button>
    </div>
  </form>

  <script>
    document.getElementById('reset-password-form').addEventListener('submit',
    function(event) { var newPassword =
    document.getElementById('new-password').value; var confirmPassword =
    document.getElementById('confirm-password').value; if (newPassword !==
    confirmPassword) { alert('Passwords do not match!'); event.preventDefault();
    } });
  </script>
</div>